html {
  box-sizing: border-box;
  background-color: #c9b5ab ;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-family: 'PT Sans', sans-serif;
}

nav ol > li {
  font-family: 'PT Sans', sans-serif;
  color: #8f2440 ;
}

p {
font-family: 'PT Serif', serif;
}
