html {
  box-sizing: border-box;
  background-color: #c9b5ab ;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-family: Georgia, sans-serif ;
  font-weight: bold ;
}

nav {
  font-family: Georgia, serif ;
}
