html {
  box-sizing: border-box;
  background-color: #c9b5ab;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-family: "PT Sans", sans-serif;
  font-size: 1.5rem;
  color: #3f1622;
  line-height: 1.5;
}

nav ol {
  font-family: "PT Sans", sans-serif;
  list-style-type: none;
  font-weight: bold;
  font-size: 1.125rem;
  color: #8f2440;
}

a {
  color: #8f2440;
  text-decoration: none;
}

a:hover {
  color: #fff;
  text-decoration: inherit;
}

img {
  width: 100%;
  align-content: center;
}

figcaption {
  font-family: "PT Serif", serif;
  font-style: italic;
  font-size: .8rem;
  color: #222;
  text-align: center;
  line-height: 1.5;
}

p {
  font-family: "PT Serif", serif;
  font-weight: normal;
  font-size: .8rem;
  color: #222;
  line-height: 1.5;
}

p:first-of-type {
  font-weight: bold;
  font-size: 1.125rem;
}

blockquote.quote {
  font-family: "PT Serif", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 1.125rem;
  color: #222;
  line-height: 1.5;
}

blockquote footer {
  font-family: "PT Serif", serif;
  font-size: .8rem;
  color: #222;
}

h2 {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  color: #3f1622;
}

ol.varieties {
  font-family: "PT Serif", serif;
  font-weight: normal;
  list-style-type: lower-greek;
  font-size: .8rem;
  color: #222;
}

h2 p {
  font-style: italic;
}

h2 dl, dt {
  font-family: "PT Serif", serif;
  font-weight: bold;
  font-size: .8rem;
  color: #222;
}

h2 dl, dd {
  font-family: "PT Serif", serif;
  font-size: .8rem;
  color: #222;
}

ul.varieties {
  font-family: "PT Serif", serif;
  font-weight: normal;
  font-size: .8rem;
  color: #222;
  list-style-type: circle;
}
